* {
    border: 2px solid rgb(0, 0, 0);
}
/* Design is Mobile-first,
conditioned by media-querries for tablet & Desktop */

.flex {
    display: grid;
    /* align-items:  center; */
    height: 80vh;
    grid-template-rows: repeat(2,auto) 1fr repeat(3,auto);
}

div{
    border: 1px solid lime;
}

/* Mobile */
@media  (width >= 768px ){
    .flex{
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "g_hdr g_hdr g_hdr g_hdr"
        "g_nav g_nav g_nav g_nav"
        "g_side g_main g_main g_main"
        "g_ads g_foot g_foot g_foot"
        ;
    }
    .header{
        grid-area: g_hdr;
    }
    .nav{
        grid-area: g_nav;
    }
    .main{
        grid-area: g_main;
    }
    .side{
        grid-area: g_side;
    }
    .ads{
        grid-area: g_ads;
    }
    .footer{
        grid-area: g_footer;
    }
}

/* Desktop */
@media  (width >= 1024px ){
    .flex{
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: 
        "g_hdr g_hdr g_hdr g_hdr g_hdr"
        "g_side g_nav g_nav g_nav g_ads"
        "g_side g_main g_main g_main g_ads"
        "g_foot g_foot g_foot g_foot g_foot"
        ;
    }
    .header{
        grid-area: g_hdr;
    }
    .nav{
        grid-area: g_nav;
    }
    .main{
        grid-area: g_main;
    }
    .side{
        grid-area: g_side;
    }
    .ads{
        grid-area: g_ads;
    }
    .footer{
        grid-area: g_footer;
    }
}

/* shortcuts for vscode - gtc =  grid-template-columns*/