* {
    border: 2px solid rgb(0, 0, 0);
}

/* Design is Mobile-first,
conditioned by media-querries for Tablet & Desktop */

.flex {
    display: grid;
    /* align-items:  center; */
    height: auto;
    grid-template-rows: repeat(1, fr);
    gap: 50px;
}

div {
    border: 1px solid lime;
    /* width: 200px; */
    /* optional- fixed width for data-box */
}

.box1 {
    background-color: grey;
}

.box2 {
    background-color: lightgrey;
}

.box3 {
    background-color: lightblue;
}

.box4 {
    background-color: lightpink;
}

.box5 {
    background-color: lightgreen;
}

/* Tablet */
@media (width >=768px) {
    .flex {
        grid-template-columns: repeat(3, 1fr);

    }
}

/* Desktop */
@media (width >=1024px) {
    .flex {
        grid-template-columns: repeat(5, 1fr);
    }

}

/* shortcuts for vscode - gtc =  grid-template-columns*/